<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.covn.visasystem.mapper.EmpMapper">

    <select id="selectEmpList" resultType="cn.covn.visasystem.pojo.vo.EmpListDTO">
        select e.id,e.name,e.visa_end visaEnd,o.name opeStatus from emp e inner join ope_status o on o.id=e.ope_status order by e.visa_end desc;
    </select>
    <select id="selectSearchNameList" resultType="cn.covn.visasystem.pojo.vo.EmpSearchNameDTO">
        SELECT id, name value
        FROM emp
        WHERE visa_end IS NOT NULL
        AND DATEDIFF(visa_end, #{date}) BETWEEN 1 AND 180
    </select>

    <select id="selectEmpByName" resultType="cn.covn.visasystem.pojo.vo.EmpListDTO">
        select e.id,e.name,e.visa_end visaEnd,o.name opeStatus from emp e inner join ope_status o on o.id=e.ope_status where e.name=#{name}
    </select>
    <select id="selectEmpByDay" resultType="cn.covn.visasystem.pojo.vo.EmpListDTO">
        select e.id,e.name,e.visa_end visaEnd,o.name opeStatus from emp e inner join ope_status o on o.id=e.ope_status
        WHERE visa_end IS NOT NULL
        AND DATEDIFF(visa_end, #{date}) BETWEEN 1 AND #{day}
    </select>

    <select id="selectEmpInfoById" resultType="cn.covn.visasystem.pojo.vo.EmpInfoDTO">
        select e.phone,e.address,e.email,e.name,t.name,e.visa_img visaImg,
               e.visa_end visaEnd,
               o.name opeStatus,
               e.create_time createTime,
               u.username,u.update_time updateTime,
               u.last_login lastLogin,
               e.id empId,
               t.name visaType
        from emp e inner join user u
                              on u.emp_id=e.id
                   inner join ope_status o
                              on o.id=e.ope_status
                   inner join visa_type t
                              on t.id=e.visa_type
        where e.id=#{id};
    </select>
</mapper>
